<div class="container text-center">
    <div class="pt-3">
        <img src="/images/logo.png" alt="Slika Kozul">
    </div>
    <div class="pt-4">
        <h1>Za uvid svih reklamacija potrebna je prijava!</h1>
    </div>
</div>